<style>
  h1 {
    text-align: center;
    color: rgb(248, 190, 0);
    font-family: "Times New Roman", Times, serif;
  }
</style>
<div>
  <form class="row g-3 needs-validation" novalidate>
    <!-- Left Column of Form 1 -->
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Tên Phòng</label>
      <input type="text" class="form-control" ng-model="inputValue.ten" />
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.ten == true">
        Bạn Chưa Nhập Họ Tên.Vui Lòng Nhập Tên !
      </p>
    </div>

    <!-- Middle Column of Form 1 -->
    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Số Điện Thoại</label>
      <input type="number" class="form-control" ng-model="inputValue.sdt" />
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.sdt == true">
        Bạn Chưa Nhập Số Điện Thoại.Vui Lòng Nhập Số Điện Thoại !
      </p>
    </div>

    <!-- Right Column of Form 1 -->


    <!-- Button for Form 1 -->

  </form>


  <!-- Form 2 -->
  <form class="row g-3 needs-validation" novalidate>
    <!-- Left Column of Form 2 -->
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Mã Phòng</label>
      <input type="number" class="form-control" id="validationCustom03" ng-model="inputValue.cccd" required />
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.cccd == true">
        Bạn Chưa Nhập Mã.Vui Lòng Nhập Mã !
      </p>
    </div>

    <!-- Right Column of Form 2 -->
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Số lượng </label>
      <input type="number" class="form-control" id="validationCustom03" ng-model="inputValue.so" required />
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.so == true">
        Bạn Chưa Nhập Số Lượng .Vui Lòng Nhập Số Lượng !
      </p>
    </div>

    <!-- Left Column of Form 2 -->
    <div class="col-md-6">
      <label for="validationCustom05" class="form-label">Ngày nhận Phòng</label>
      <input type="date" class="form-control" id="validationCustom05" ng-model="inputValue.nhan" required />
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.nhan == true">
        Vui Lòng Chọn Ngày Bắt Đầu !
      </p>
    </div>

    <!-- Right Column of Form 2 -->
    <div class="col-md-6">
      <label for="validationCustom05" class="form-label">Ngày trả Phòng</label>
      <input type="date" class="form-control" id="validationCustom05" ng-model="inputValue.tra" required />
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.tra == true">
        Vui Lòng Chọn Ngày Trả !
      </p>
    </div>
    <div class="col-md-6">
      <label for="validationCustomUsername" class="form-label">Giá Phòng</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
          ng-model="inputValue.gia" required />
      </div>
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.gia == true">
        Bạn Chưa Nhập Giá Sách Muốn Thuê Hoặc Giá Sách Nhỏ Hơn 10000.Vui Lòng Nhập Giá !
      </p>
    </div>
    <div class="col-md-6">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
          ng-model="inputValue.email" required />
      </div>
      <p style="color: rgb(228, 18, 18)" ng-if="kiemtra.email == true">
        Bạn Chưa Nhập Email.Vui Lòng Nhập Email !
      </p>
    </div>
  </form>

  <!-- Table Section -->
  <br>
  <div class="col-md-12">
    <center> <button class="btn btn-outline-success" ng-click="onSumbmit()">
        ĐẶT PHÒNG
      </button></center>
  </div>
  <hr />
  <h1>THÔNG TIN</h1>
  <table class="table">
    <!-- Table Header -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Sách</th>
        <th scope="col">SĐT</th>
        <th scope="col">Email</th>
        <th scope="col">Giá</th>
        <th scope="col">Mã Sách</th>
        <th scope="col">Số lượng </th>
        <th scope="col">Ngày nhận</th>
        <th scope="col">Ngày trả</th>
        <th scope="col">Thao Tác</th>
      </tr>
    </thead>
    <!-- Table Body -->
    <tbody>
      <tr ng-repeat="h in table">
        <td>{{ h.id }}</td>
        <td>{{ h.ten }}</td>
        <td>{{ h.sdt }}</td>
        <td>{{ h.email }}</td>
        <td>{{ h.gia }}</td>
        <td>{{ h.cccd }}</td>
        <td>{{ h.so }}</td>
        <td>{{ h.nhan }}</td>
        <td>{{ h.tra }}</td>
        <td>
          <button class="btn btn-warning" ng-click="onEdit(h.id)">Sửa</button>
          <button class="btn btn-danger" ng-click="onDelete(h.id)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>