<style>
  .row1 {
    text-align: center;
  }
</style>
<div>
  <div class="row1">
    <h5>{{ lh1 }}</h5>
    <br />
    <div>
      <button type="button" class="btn btn-outline-danger">{{ lh2 }}</button>
      <button type="button" class="btn btn-outline-danger">{{ lh3 }}</button>
    </div>
    <br />
    <h5>{{ lh4 }}</h5>
  </div>
  <br />
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <div class="row2">
    <button type="button" class="btn btn-outline-success">- - Gửi - -</button>
  </div>
</div>
