<style>
  .row1 {
    text-align: center;
  }
  .row a {
    text-decoration: none;
  }
  .row h4 {
    color: rgb(255, 0, 0);
    /* margin-top: 200px; */
  }
  .row1 h1 {
    color: rgb(248, 190, 0);
    font-family: "Times New Roman", Times, serif;
  }
</style>
<div class="row1">
  <h1>{{ form1 }}</h1>
  <p>{{ form2 }}</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{hinh1}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ form3 }}</h5>
        <p class="card-text">{{ form4 }}</p>
      </div>
      <div class="card-footer">
        <a href="https://nhatrangbooking.com.vn/tour-3-dao-nha-trang-p_1"
          ><small class="text-muted">{{ form5 }}</small></a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ hinh2 }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ fo1 }}</h5>
        <p class="card-text">{{ fo2 }}</p>
      </div>
      <div class="card-footer">
        <a href="https://nhatrangbooking.com.vn/tour-du-thuyen-nha-trang-p_55"
          ><small class="text-muted">{{ fo3 }}</small></a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ hinh3 }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ for1 }}</h5>
        <p class="card-text">{{ for2 }}</p>
      </div>
      <div class="card-footer">
        <a href="https://nhatrangbooking.com.vn/tour-hang-rai-vinh-hy-p_12"
          ><small class="text-muted">{{ for3 }}</small></a
        >
      </div>
    </div>
  </div>
</div>
<br />
<div class="row1">
  <h1>{{ ro1 }}</h1>
  <p>{{ ro2 }}</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card col-4">
    <img src="{{ hinh11}}" class="card-img" alt="..." />
    <div class="card-img-overlay">
      <a href="https://nhatrangbooking.com.vn/ve-tam-bun-hon-tam-nha-trang-p_52"
        ><h4 class="card-title">{{ row11 }}</h4></a
      >
    </div>
  </div>
  <div class="card col-4">
    <img src="{{ hinh12}}" class="card-img" alt="..." />
    <div class="card-img-overlay">
      <a href="https://nhatrangbooking.com.vn/xe-dua-don-san-bay-cam-ranh-p_31">
        <h4 class="card-title">{{ row12 }}</h4></a
      >
    </div>
  </div>
  <div class="card col-4">
    <img src="{{ hinh13}}" class="card-img" alt="..." />
    <div class="card-img-overlay">
      <a href="https://nhatrangbooking.com.vn/ve-vinpearl-nha-trang-p_3"
        ><h4 class="card-title">{{ row13 }}</h4></a
      >
    </div>
  </div>
</div>
<br />
<div class="row1">
  <h1>{{ o1 }}</h1>
</div>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div>
      <div class="card-body">
        <h5 class="card-title">{{ o11 }}</h5>
        <p class="card-text">{{ o12 }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <div class="card-body">
        <h5 class="card-title">{{ o13 }}</h5>
        <p class="card-text">{{ o14 }}</p>
      </div>
    </div>
  </div>
</div>
